In [3]:
import pandas as pd
import numpy as np

In [280]:
np.random.seed(12)

data = {
    "Student_ID": range(1, 51),
    "Age": np.random.randint(17, 25, 50),
    "Study_Hours": np.random.normal(5, 2, 50),   # average 5 hrs/day
    "Attendance": np.random.randint(60, 90, 50),
    "Internal_Marks": np.random.randint(20, 50, 50),
    "Final_Marks": np.random.randint(30, 100, 50),
    "Gender": np.random.choice(["Male", "Female"], 50)
}

df = pd.DataFrame(data)

In [282]:
# Introduce missing values
import random
random.seed(40)
for i in range(0, 50):
    x = random.randint(0, 101)
    if (x>50):
        col = 1 + x%5
        df.iloc[i, col] = np.nan

In [284]:
# Introduce inconsistency (negative study hours)
df.loc[20, "Study_Hours"] = -3
df.loc[23, "Study_Hours"] = 25
df.loc[16, "Attendance"] = 120
df.loc[16, "Attendance"] = -20

In [286]:
display(df)

,Student_ID,Age,Study_Hours,Attendance,Internal_Marks,Final_Marks,Gender
0,1,20.0,4.319627,77.0,NaN,81.0,Female
1,2,20.0,9.054597,86.0,35.0,NaN,Male
2,3,23.0,3.837840,NaN,39.0,93.0,Female
3,4,22.0,6.746270,64.0,29.0,56.0,Female
4,5,18.0,6.821131,87.0,34.0,34.0,Female
5,6,19.0,7.095291,79.0,31.0,60.0,Male
6,7,NaN,2.620723,78.0,35.0,53.0,Female
7,8,20.0,NaN,84.0,34.0,83.0,Male
8,9,NaN,5.110604,71.0,25.0,62.0,Female
9,10,17.0,5.424422,72.0,21.0,57.0,Male
10,11,23.0,4.309351,89.0,35.0,96.0,Male
11,12,18.0,7.404327,NaN,42.0,98.0,Male
12,13,21.0,0.588813,61.0,39.0,93.0,Male
13,14,22.0,2.838470,64.0,38.0,52.0,Male
14,15,NaN,4.827707,66.0,39.0,59.0,Female
15,16,18.0,NaN,65.0,48.0,80.0,Male
16,17,19.0,2.671068,-20.0,37.0,80.0,Female
17,18,20.0,0.200237,NaN,45.0,63.0,Male
18,19,23.0,3.779872,86.0,49.0,NaN,Female
19,20,19.0,0.533039,70.0,39.0,76.0,Female
20,21,17.0,-3.000000,60.0,22.0,75.0,Male
21,22,22.0,7.713604,NaN,22.0,47.0,Female
22,23,17.0,-0.099657,62.0,35.0,47.0,Female
23,24,21.0,25.000000,81.0,34.0,NaN,Female
24,25,NaN,5.188549,70.0,47.0,54.0,Female
25,26,19.0,3.823511,78.0,NaN,68.0,Female
26,27,18.0,4.584484,76.0,29.0,83.0,Female
27,28,20.0,5.326389,77.0,39.0,98.0,Male
28,29,23.0,NaN,80.0,25.0,85.0,Female
29,30,21.0,2.303065,NaN,45.0,89.0,Female
30,31,20.0,10.316077,67.0,21.0,80.0,Male
31,32,18.0,-0.889048,67.0,43.0,62.0,Male
32,33,23.0,6.915976,85.0,24.0,47.0,Male
33,34,24.0,4.812841,77.0,49.0,62.0,Female
34,35,24.0,8.085360,66.0,33.0,94.0,Female
35,36,NaN,8.157664,77.0,36.0,93.0,Female
36,37,NaN,3.045741,63.0,34.0,77.0,Male
37,38,23.0,-0.497305,NaN,49.0,77.0,Female
38,39,19.0,NaN,60.0,28.0,94.0,Female
39,40,17.0,5.545806,61.0,39.0,53.0,Male
40,41,21.0,4.176352,NaN,37.0,91.0,Male
41,42,23.0,5.167159,73.0,24.0,65.0,Male
42,43,20.0,7.349778,84.0,30.0,61.0,Female
43,44,22.0,7.826487,80.0,NaN,64.0,Female
44,45,18.0,NaN,86.0,22.0,58.0,Male
45,46,22.0,3.762822,68.0,38.0,34.0,Male
46,47,23.0,5.384632,68.0,35.0,43.0,Male
47,48,17.0,6.366659,84.0,24.0,NaN,Female
48,49,17.0,2.646090,68.0,20.0,48.0,Male
49,50,23.0,2.686635,75.0,44.0,56.0,Female

In [288]:
df.isnull().sum()

Student_ID        0
Age               6
Study_Hours       5
Attendance        7
Internal_Marks    3
Final_Marks       4
Gender            0
dtype: int64

# Handling missing values
* Replace nan values in study_hours with mean
* Replace nan values in attendance with mean
* Replace nan values in age with median
* Drop row if internal or final marks is 0

In [291]:
# replace nan values in study_hours with mean
df["Study_Hours"] = df["Study_Hours"].fillna(df["Study_Hours"].mean())

# replace nan values in attendance with mean
df["Attendance"] = df["Attendance"].fillna(df["Attendance"].mean())

# replace nan values in age with median
df["Age"] = df["Age"].fillna(df["Age"].median())

# drop row if internal or final marks is 0
df = df.dropna()

In [293]:
df.isnull().sum()

Student_ID        0
Age               0
Study_Hours       0
Attendance        0
Internal_Marks    0
Final_Marks       0
Gender            0
dtype: int64

# Handling inconsistencies
* Rule 1: Study hours should be between 0 and 12
* Rule 2: Attendance should be between 0 and 100

Inconsistent values are replaced by median

In [296]:
df.loc[df["Study_Hours"] < 0, "Study_Hours"] = df["Study_Hours"].median()
df.loc[df["Study_Hours"] > 12, "Study_Hours"] = df["Study_Hours"].median()
df.loc[df["Attendance"] > 100, "Attendance"] = df["Attendance"].median()
df.loc[df["Attendance"] < 0, "Attendance"] = df["Attendance"].median()

# Handle outliers by IQR method

In [321]:
# Introduce outliers
df.loc[2, "Attendance"] = 10
df.loc[4, "Internal_Marks"] = 3
df.loc[5, "Final_Marks"] = 4
df.loc[8, "Age"] = 30
df.loc[10, "Study_Hours"] = 11

In [323]:
numeric_cols = ["Age", "Study_Hours", "Attendance", "Internal_Marks", "Final_Marks"]

for col in numeric_cols:
    Q1 = np.percentile(df[col], 25, interpolation = 'midpoint') 
    Q2 = np.percentile(df[col], 50, interpolation = 'midpoint') 
    Q3 = np.percentile(df[col], 75, interpolation = 'midpoint') 
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(col, lower_bound, upper_bound)


    df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
    df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])

Age 12.5 28.5
Study_Hours 0.2817704416073248 9.664597964496064
Attendance 49.5 93.5
Internal_Marks 7.75 57.75
Final_Marks 7.75 129.75

In [325]:
display(df)

,Student_ID,Age,Study_Hours,Attendance,Internal_Marks,Final_Marks,Gender
2,3,23.0,3.837840,49.50000,39.00,93.00,Female
3,4,22.0,6.746270,64.00000,29.00,56.00,Female
4,5,18.0,6.821131,87.00000,7.75,34.00,Female
5,6,19.0,7.095291,79.00000,31.00,7.75,Male
6,7,20.0,2.620723,78.00000,35.00,53.00,Female
7,8,20.0,4.886290,84.00000,34.00,83.00,Male
8,9,28.5,5.110604,71.00000,25.00,62.00,Female
9,10,17.0,5.424422,72.00000,21.00,57.00,Male
10,11,23.0,9.664598,89.00000,35.00,96.00,Male
11,12,18.0,7.404327,71.44186,42.00,98.00,Male
12,13,21.0,0.588813,61.00000,39.00,93.00,Male
13,14,22.0,2.838470,64.00000,38.00,52.00,Male
14,15,20.0,4.827707,66.00000,39.00,59.00,Female
15,16,18.0,4.886290,65.00000,48.00,80.00,Male
16,17,19.0,2.671068,71.44186,37.00,80.00,Female
17,18,20.0,0.283033,71.44186,45.00,63.00,Male
19,20,19.0,0.533039,70.00000,39.00,76.00,Female
20,21,17.0,4.886290,60.00000,22.00,75.00,Male
21,22,22.0,7.713604,71.44186,22.00,47.00,Female
22,23,17.0,4.886290,62.00000,35.00,47.00,Female
24,25,20.0,5.188549,70.00000,47.00,54.00,Female
26,27,18.0,4.584484,76.00000,29.00,83.00,Female
27,28,20.0,5.326389,77.00000,39.00,98.00,Male
28,29,23.0,4.886290,80.00000,25.00,85.00,Female
29,30,21.0,2.303065,71.44186,45.00,89.00,Female
30,31,20.0,8.606362,67.00000,21.00,80.00,Male
31,32,18.0,4.886290,67.00000,43.00,62.00,Male
32,33,23.0,6.915976,85.00000,24.00,47.00,Male
33,34,24.0,4.812841,77.00000,49.00,62.00,Female
34,35,24.0,8.085360,66.00000,33.00,94.00,Female
35,36,20.0,8.157664,77.00000,36.00,93.00,Female
36,37,20.0,3.045741,63.00000,34.00,77.00,Male
37,38,23.0,4.886290,71.44186,49.00,77.00,Female
38,39,19.0,4.886290,60.00000,28.00,94.00,Female
39,40,17.0,5.545806,61.00000,39.00,53.00,Male
40,41,21.0,4.176352,71.44186,37.00,91.00,Male
41,42,23.0,5.167159,73.00000,24.00,65.00,Male
42,43,20.0,7.349778,84.00000,30.00,61.00,Female
44,45,18.0,4.886290,86.00000,22.00,58.00,Male
45,46,22.0,3.762822,68.00000,38.00,34.00,Male
46,47,23.0,5.384632,68.00000,35.00,43.00,Male
48,49,17.0,2.646090,68.00000,20.00,48.00,Male
49,50,23.0,2.686635,75.00000,44.00,56.00,Female