In [1]:
!pip install opendatasets
!pip install pandas

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.12/site-packages (from opendatasets) (4.66.5)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.8.3-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in ./anaconda3/lib/python3.12/site-packages (from opendatasets) (8.1.7)
Collecting black>=24.10.0 (from kaggle->opendatasets)
  Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (86 kB)
Requirement already satisfied: bleach in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.1.0)
Collecting kagglesdk<1.0,>=0.1.14 (from kaggle->opendatasets)
  Downloading kagglesdk-0.1.14-py3-none-any.whl.metadata (13 kB)
Collecting mypy>=1.15.0 (from kaggle->opendatasets)
  Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.2 kB)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (24.1)
Requirement already satisfied: protobuf in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.25.3)
Requirement already satisfied: python-dateutil in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (1.16.0)
Collecting types-requests (from kaggle->opendatasets)
  Downloading types_requests-2.32.4.20250913-py3-none-any.whl.metadata (2.0 kB)
Collecting types-tqdm (from kaggle->opendatasets)
  Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: urllib3>=1.15.1 in ./anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: mypy-extensions>=0.4.3 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle->opendatasets) (1.0.0)
Requirement already satisfied: pathspec>=0.9.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle->opendatasets) (0.10.3)
Requirement already satisfied: platformdirs>=2 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle->opendatasets) (3.10.0)
Collecting pytokens>=0.3.0 (from black>=24.10.0->kaggle->opendatasets)
  Downloading pytokens-0.3.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: typing_extensions>=4.6.0 in ./anaconda3/lib/python3.12/site-packages (from mypy>=1.15.0->kaggle->opendatasets) (4.11.0)
Collecting librt>=0.6.2 (from mypy>=1.15.0->kaggle->opendatasets)
  Downloading librt-0.7.7-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: webencodings in ./anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in ./anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (2025.4.26)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading kaggle-1.8.3-py3-none-any.whl (102 kB)
Downloading kagglesdk-0.1.14-py3-none-any.whl (159 kB)
Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 15.8 MB/s  0:00:00
Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (13.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.6/13.6 MB 49.2 MB/s  0:00:00ta 0:00:01
Downloading librt-0.7.7-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (189 kB)
Downloading pytokens-0.3.0-py3-none-any.whl (12 kB)
Downloading types_requests-2.32.4.20250913-py3-none-any.whl (20 kB)
Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl (24 kB)
Installing collected packages: types-requests, pytokens, librt, types-tqdm, mypy, kagglesdk, black, kaggle, opendatasets
  Attempting uninstall: mypy━╸━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/9 [librt]
    Found existing installation: mypy 1.11.238;2;249;38;114m╸━━━━━━━━━━━━━━━━━━━━━━ 4/9 [mypy]
    Uninstalling mypy-1.11.2:━━━━━╸━━━━━━━━━━━━━━━━━━━━━━ 4/9 [mypy]
      Successfully uninstalled mypy-1.11.2╸━━━━━━━━━━━━━━━━━━━━━━ 4/9 [mypy]
  Attempting uninstall: black━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━ 5/9 [kagglesdk]y]
    Found existing installation: black 24.8.038;5;237m╺━━━━━━━━━━━━━━━━━ 5/9 [kagglesdk]
    Uninstalling black-24.8.0:━━━━━━━━━╺━━━━━━━━━━━━━━━━━ 5/9 [kagglesdk]
      Successfully uninstalled black-24.8.0━━━━╸━━━━━━━━━━━━━ 6/9 [black]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9/9 [opendatasets]0m 7/9 [kaggle]black]
Successfully installed black-25.12.0 kaggle-1.8.3 kagglesdk-0.1.14 librt-0.7.7 mypy-1.19.1 opendatasets-0.1.22 pytokens-0.3.0 types-requests-2.32.4.20250913 types-tqdm-4.67.0.20250809

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in ./anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [15]:
# upload dataset to jupyter notebook before attempting this step
!unzip archive\ \(1\).zip

Archive:  archive (1).zip
  inflating: employee_salary_dataset.csv

In [17]:
!ls

 anaconda3	     eclipse-workspace		   Public
 anaconda_projects   Edraw			   snap
'archive (1).zip'    employee_salary_dataset.csv  'Untitled Folder'
 Desktop	     firstfir.cpp		   Untitled.ipynb
 Documents	     mongo-cxx-driver		   Videos
 Downloads	     nltk_data
 eclipse	     Pictures

In [37]:
import pandas as pds

# reading the XLSX file
file =("employee_salary_dataset.csv")
data = pds.read_csv(file)

# displaying the contents of the XLSX file

# first 5 rows
display(data.head())

# number of rows and columns as (rows, columns)
print(data.shape)

# column names
print(list(data.columns))

print(data.info())

print(data.describe())

# number of null values for each column
print(data.isnull().sum())

,EmployeeID,Name,Department,Experience_Years,Education_Level,Age,Gender,City,Monthly_Salary
0,1,Employee_1,Marketing,15,Master,53,Female,Delhi,111416
1,2,Employee_2,Operations,7,Bachelor,25,Female,Bangalore,95271
2,3,Employee_3,IT,12,High School,51,Female,Hyderabad,69064
3,4,Employee_4,Operations,8,PhD,44,Male,Delhi,95091
4,5,Employee_5,Operations,15,Master,36,Female,Delhi,132450

(50, 9)
['EmployeeID', 'Name', 'Department', 'Experience_Years', 'Education_Level', 'Age', 'Gender', 'City', 'Monthly_Salary']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        50 non-null     int64
 1   Name              50 non-null     object
 2   Department        50 non-null     object
 3   Experience_Years  50 non-null     int64
 4   Education_Level   50 non-null     object
 5   Age               50 non-null     int64
 6   Gender            50 non-null     object
 7   City              50 non-null     object
 8   Monthly_Salary    50 non-null     int64
dtypes: int64(4), object(5)
memory usage: 3.6+ KB
None
       EmployeeID  Experience_Years        Age  Monthly_Salary
count    50.00000         50.000000  50.000000         50.0000
mean     25.50000          9.900000  39.760000      82288.8000
std      14.57738          5.349995  11.539745      33521.4379
min       1.00000          1.000000  22.000000      28420.0000
25%      13.25000          5.250000  28.250000      59424.0000
50%      25.50000         10.000000  43.500000      73890.5000
75%      37.75000         14.750000  49.000000     107219.0000
max      50.00000         19.000000  57.000000     149123.0000
EmployeeID          0
Name                0
Department          0
Experience_Years    0
Education_Level     0
Age                 0
Gender              0
City                0
Monthly_Salary      0
dtype: int64