In [1]:
!pip install mysql-connector-python pandas sqlalchemy

Requirement already satisfied: mysql-connector-python in ./anaconda3/lib/python3.12/site-packages (9.4.0)
Requirement already satisfied: pandas in ./anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: numpy>=1.26.0 in ./anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in ./anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
username = "connector"
password = "password"
host = "localhost"
database = "Movie"

engine = create_engine(
    f"mysql+mysqlconnector://{username}:{password}@{host}/{database}"
)

In [5]:
query = "SELECT * FROM Movie"

In [7]:
df = pd.read_sql(query, engine)

In [9]:
df.head()

   m_id        title release_date  rank  budget
0     1       Sholay   2019-08-10     9  300000
1     2          K3G   2021-05-16     8  500000
2     3          RRR   2022-07-17     9  700000
3     4         Hero   2019-08-10     9   10000
4     5  Alex on Sea   2019-02-21     7  100000