#

In [5]:
import pandas as pd

# Part 1
Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

In [28]:
df = pd.read_csv("Salary_Data.csv")
df.head()

               Age  Years of Experience         Salary
count  6702.000000          6701.000000    6699.000000
mean     33.620859             8.094687  115326.964771
std       7.614633             6.059003   52786.183911
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [26]:
education_stats = df.groupby('Education Level')['Salary'].agg(['mean', 'median', 'min', 'max', 'std'])

print("Summary Statistics of Age grouped by Income:")
print(education_stats)

Summary Statistics of Age grouped by Income:
                            mean    median       min       max           std
Education Level
Bachelor's         124767.658730  130000.0     350.0  250000.0  46697.558848
Bachelor's Degree   85174.886093   75000.0     500.0  250000.0  38387.390981
High School         36706.694196   30000.0   25000.0  166109.0  22549.129999
Master's           157604.166667  177500.0   40000.0  200000.0  39864.267750
Master's Degree    125075.333969  122000.0   32000.0  228000.0  38732.484980
PhD                165684.828947  170000.0     579.0  250000.0  34330.096351
phD                120000.000000  120000.0  120000.0  120000.0           NaN

In [44]:
bins = [0, 5, 10, 15, 20, 80]
# [0-12, 13-18, 19-39, 40-59, 60-80] 
labels = ["0-5", "5-10", "10-15","15-20", "20+"]

df["Experience"] = pd.cut(df["Years of Experience"], bins=bins, labels=labels)

experience_stats = df.groupby("Experience", observed=True)["Salary"].agg(['mean', 'median', 'min', 'max', 'std'])
print(experience_stats)

                     mean    median       min       max           std
Experience
0-5          70813.985853   65000.0     350.0  182000.0  31932.037239
5-10        125045.544743  120000.0   45000.0  195000.0  33153.980426
10-15       157216.208299  160000.0   60000.0  210000.0  25951.543315
15-20       183361.823171  190000.0  100000.0  220000.0  20403.211078
20+         186455.008197  182894.0  121450.0  250000.0  21263.297517

In [50]:
income_bins = [0, 50000, 100000, 150000, 200000, 300000]
income_labels = ["<50k", "50k-100k", "100k-150k", "150k-200k", "200k+"]

df["Income Group"] = pd.cut(df["Salary"], bins = income_bins, labels = income_labels)

age_income = df.groupby("Income Group", observed=True)["Age"].agg(['mean', 'median', 'min', 'max', 'std'])
print(age_income)

                   mean  median   min   max       std
Income Group
<50k          26.598163    26.0  21.0  36.0  2.755842
50k-100k      29.114786    29.0  22.0  45.0  3.590397
100k-150k     34.243469    33.0  23.0  57.0  5.329173
150k-200k     40.476600    41.0  25.0  62.0  7.664442
200k+         46.991228    48.0  39.0  56.0  4.216478

# Part 2
Write a Python program to display some basic statistical details like percentile, mean, standard deviation of species of ‘Iris-Setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor of iris.csv dataset.

In [57]:
df = pd.read_csv("Iris.csv")

In [59]:
# List of species we want to analyze
species_list = set(df["Species"])

for species in species_list:
    print(f"\n--- Statistical Details for {species.upper()} ---")
    
    # Filter the dataframe for the specific species
    species_df = df[df['Species'] == species]
    
    stats = species_df.describe()
    
    print(stats)

--- Statistical Details for IRIS-SETOSA ---
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

--- Statistical Details for IRIS-VIRGINICA ---
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

--- Statistical Details for IRIS-VERSICOLOR ---
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [61]:
# Shows the mean for all features, grouped by species
print(df.groupby('Species').mean())

# Shows the standard deviation for all features
print(df.groupby('Species').std())

                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5          5.006         3.418          1.464
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026
                       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa      14.57738       0.352490      0.381024       0.173511
Iris-versicolor  14.57738       0.516171      0.313798       0.469911
Iris-virginica   14.57738       0.635880      0.322497       0.551895

                 PetalWidthCm
Species
Iris-setosa          0.107210
Iris-versicolor      0.197753
Iris-virginica       0.274650